/*登录注册盒子*/
.wrapper{
	position:fixed;
              top: 50%;left: 50%;
              width: 360px;
              background: #fff;
              font-size: 14px;
              color: #787d82;
              margin-left: -180px;
              margin-top: -180px;
              /*transform: translate(-50%,-100%);*/
              box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
              z-index: 100;
              /*opacity: 1;*/
              font-family: '微软雅黑';
}
/*盒子头部*/
.head{ 
	position: relative;
	padding: 0 20px;
}
.head h1{
              color: #787d82;
              font-size: 16px;
              width: 320px;
              height: 49px;
              line-height: 49px;
              border-bottom: 1px solid #d0d6d9;
}
.head h1 a{
	float: left;
	width: 80px;
	height: 49px;
	line-height: 49px;
	text-align: center;
              font-size: 16px;
              box-sizing: border-box;
}
.greey{
	color: #787d82;
}
.red{
	color: #f01400;
	border-bottom: 1px solid #f01400;
}
.head h1 a:hover{
	color: #f01400;
	border-bottom: 1px solid #f01400;
}
.head h1 .close{
	position: absolute;
	top: 20px;right: 20px;
	width: 16px;
	height:16px;
	border-bottom: none;
	background: url(../images/close.gif)no-repeat;
}
.head h1 .close:hover{
	background: url(../images/close.gif)no-repeat 0 -21px;
	border-bottom: none;
}
/*盒子中间登录部分*/
.log-body{
	padding: 0 30px;
}
form{
	position: relative;
	margin: 0 auto;
}
input{
	outline:  none;
}
.list-email{
	background: #fff;
	position: absolute;
	width: 299px;
	margin-top: -30px;
 	list-style:none;
 	border: 1px solid #787d82;
 }
 .list-email li{
 	cursor: pointer;
              width:279px;
              padding:5px 10px;
              text-overflow:ellipsis; //溢出时变为省略
              overflow:hidden;
 }
 .list-email li:hover{
 	background:  #d0d6d9;
 }
.lilight{
	background-color:#fafafa;
}
.email{
	width: 279px;
	padding: 10px;
              box-shadow: 2px 0 5px 0 #fff;
              border: 1px solid #d0d6d9;
              background-color: #fff;
              margin-top: 30px;
              font-family: '微软雅黑';
}
.tip-eml,.tip-psd,.tip-cod{
	width: 301px;
	height: 30px;
	line-height: 30px;
	color: #f01400;
	font-size: 12px;
	 font-family: '微软雅黑';
}
.state{
	font-size: 12px;
}
.psd{
	width: 279px;
	padding: 10px;
	box-shadow: 2px 0 5px 0 #fff;
	border: 1px solid #d0d6d9;
	background-color: #fff;
	 font-family: '微软雅黑';
}
.autolog{
	color: #787d82;
}
.forget{
	float: right;
	color: #787d82;
}
.forget:hover{
	color: #f01400;
}
.enter{
	cursor: pointer;
	width: 300px;
	padding: 15px;
	margin: 30px 0 38px 0;
	color: #fff;
	font-size: 16px;
	border: none;
	background: #f01400;
}
.enter:hover{
	background: #ff6464;
}
/*盒子中间注册部分*/
.reg-body{
	padding:0 30px;
}
form{
	position: relative;
	margin: 0 auto;
}
input{
	outline:  none;
}
.code{
	width: 100px;
	padding: 10px;
	box-shadow: 2px 0 5px 0 #fff;
	border: 1px solid #d0d6d9;
	background-color: #fff;
	 font-family: '微软雅黑';
}
.unchanged {
	width: 100px; 
	margin-left:15px;
	padding:10px 5px;
	background-size: 112px 38px;
	background: url(../images/yzm1.jpg)no-repeat;
}
.yzcode {
              font-family: Arial;
              font-style: italic;
              color: red;
              border: 0;
              text-align: center;
              padding: 5px 10px;
              letter-spacing: 3px;
              font-weight: bolder;
              cursor: pointer;
}
.signup{
	cursor: pointer;
	width: 300px;
	padding: 15px;
	margin: 10px 0 38px 0;
	color: #fff;
	font-size: 16px;
	border: none;
	background: #f01400;
}
.signup:hover{
	background: #ff6464;
}
/*遮罩层*/
.layer{
	position: fixed;
	top: 0;bottom: 0;
	left: 0;right: 0;
	background: rgba(0,0,0,.5);
	z-index: 12;
	display: none;
}